In [1]:
import pandas as pd

## LR-Constant

### Beauty 640x640 - 400e

In [8]:
df_beauty = pd.read_csv("data/beauty.csv")
df_beauty.drop(columns=["Step", "celestial-elevator-27 - psnr__MIN", "celestial-elevator-27 - psnr__MAX"])

    celestial-elevator-27 - psnr
0                      38.624667
1                      39.395000
2                      39.395000
3                      39.395000
4                      39.395000
5                      39.395000
6                      39.395000
7                      39.395000
8                      42.717000
9                      44.931667
10                     44.931667
11                     44.931667
12                     44.931667
13                     44.931667
14                     44.931667
15                     44.931667
16                     44.931667
17                     44.931667
18                     44.931667
19                     44.931667

In [10]:
df_beauty["celestial-elevator-27 - psnr"].mean()

42.56774999999998

### Ready 640x640 - 400e

In [11]:
df_ready = pd.read_csv("data/ready.csv")
df_ready.drop(columns=["Step", "infer-ready640 - psnr__MIN", "infer-ready640 - psnr__MAX"])

    infer-ready640 - psnr
0               32.740333
1               34.175000
2               34.175000
3               34.175000
4               34.175000
5               34.175000
6               34.175000
7               34.175000
8               37.093000
9               39.038333
10              39.038333
11              39.038333
12              39.038333
13              39.038333
14              39.038333
15              39.038333
16              39.038333
17              39.038333
18              39.038333
19              39.038333

In [12]:
df_ready["infer-ready640 - psnr"].mean()

36.92399999999999

### Bee 640x640 - 400e

In [14]:
df_bee = pd.read_csv("data/bee.csv")
df_bee.drop(columns=["Step", "infer-bee640 - psnr__MIN", "infer-bee640 - psnr__MAX"])

    infer-bee640 - psnr
0             39.237667
1             40.540000
2             40.540000
3             40.540000
4             40.540000
5             40.540000
6             40.540000
7             40.540000
8             42.400000
9             43.640000
10            43.640000
11            43.640000
12            43.640000
13            43.640000
14            43.640000
15            43.640000
16            43.640000
17            43.640000
18            43.640000
19            43.640000

In [15]:
df_bee["infer-bee640 - psnr"].mean()

42.272883333333326

### Bosphorus 640x640 - 400e

In [4]:
df_bosphorus = pd.read_csv("data/results/bosphorus.csv")
df_bosphorus.drop(columns=["Step", "infer-bosphorus640 - psnr__MIN", "infer-bosphorus640 - psnr__MAX"])

    infer-bosphorus640 - psnr
0                   37.105000
1                   38.158333
2                   38.158333
3                   38.158333
4                   38.158333
5                   38.158333
6                   38.158333
7                   38.158333
8                   40.827333
9                   42.606667
10                  42.606667
11                  42.606667
12                  42.606667
13                  42.606667
14                  42.606667
15                  42.606667
16                  42.606667
17                  42.606667
18                  42.606667
19                  42.606667

In [5]:
df_bosphorus["infer-bosphorus640 - psnr"].mean()

40.6857

### Jockey 640x640 - 400e

In [3]:
df_jockey = pd.read_csv("data/results/lr-constant/jockey.csv")
df_jockey.drop(columns=["Step", "lr-constant-infer-jockey640-400e - psnr__MIN", "lr-constant-infer-jockey640-400e - psnr__MAX"])

    lr-constant-infer-jockey640-400e - psnr
0                                 36.191333
1                                 37.005000
2                                 37.005000
3                                 37.005000
4                                 37.005000
5                                 37.005000
6                                 37.005000
7                                 37.005000
8                                 41.623000
9                                 44.701667
10                                44.701667
11                                44.701667
12                                44.701667
13                                44.701667
14                                44.701667
15                                44.701667
16                                44.701667
17                                44.701667
18                                44.701667
19                                44.701667

In [4]:
df_jockey["lr-constant-infer-jockey640-400e - psnr"].mean()

41.42838333333334

### Yach 640x640 - 400e

In [ ]:
df_yach = pd.read_csv("data/results/lr-constant/yach.csv")
df_yach.drop(columns=["Step", "lr-constant-infer-yach640-400e - psnr__MIN", "lr-constant-infer-yach640-400e - psnr__MAX"])

In [ ]:
df_yach["lr-constant-infer-yach640-400e - psnr"].mean()

## LR-Cosine

### Shake640-400e

In [4]:
df_shake = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/shake640-400e.csv")
df_shake.drop(columns=["Step", "lr-cosine-infer-shake640-400e - psnr__MIN", "lr-cosine-infer-shake640-400e - psnr__MAX"])

   lr-cosine-infer-shake640-400e - psnr
0                             45.364333
1                             48.468333
2                             48.468333
3                             48.468333
4                             48.468333
5                             48.468333
6                             48.468333
7                             48.468333
8                             48.468333
9                             48.468333

In [ ]:
df_shake["lr-cosine-infer-shake640-400e - psnr"].mean()

48.15793333333335

### Bee640-400e

In [4]:
df_bee = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/bee640-400e.csv")
df_bee.drop(columns=["Step", "lr-cosine-infer-bee640-400e - psnr__MIN", "lr-cosine-infer-bee640-400e - psnr__MAX"])

    lr-cosine-infer-bee640-400e - psnr
0                            43.708667
1                            44.970000
2                            44.970000
3                            44.970000
4                            44.970000
5                            44.970000
6                            44.970000
7                            44.970000
8                            45.235000
9                            45.411667
10                           45.411667
11                           45.411667
12                           45.411667
13                           45.411667
14                           45.411667
15                           45.411667
16                           45.411667
17                           45.411667
18                           45.411667
19                           45.411667

In [ ]:
df_bee["lr-cosine-infer-bee640-400e - psnr"].mean()

45.16309999999999

### Beauty640 - 400e

In [3]:
df_beauty = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/beauty640-400e.csv")
df_beauty.drop(columns=["Step", "lr-cosine-infer-beauty640-400e - psnr__MIN", "lr-cosine-infer-beauty640-400e - psnr__MAX"])

    lr-cosine-infer-beauty640-400e - psnr
0                               47.949667
1                               49.776667
2                               49.776667
3                               49.776667
4                               49.776667
5                               49.776667
6                               49.776667
7                               49.776667
8                               50.365667
9                               50.758333
10                              50.758333
11                              50.758333
12                              50.758333
13                              50.758333
14                              50.758333
15                              50.758333
16                              50.758333
17                              50.758333

In [5]:
df_beauty["lr-cosine-infer-beauty640-400e - psnr"].mean()

50.19872222222222

### Bosphorus 640 - 400e

In [4]:
df_bosphorus = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/bosphorus640-400e.csv")
df_bosphorus.drop(columns=["Step", "lr-cosine-infer-bosphorus640-400e - psnr__MIN", "lr-cosine-infer-bosphorus640-400e - psnr__MAX"])

    lr-cosine-infer-bosphorus640-400e - psnr
0                                  44.134667
1                                  45.796667
2                                  45.796667
3                                  45.796667
4                                  45.796667
5                                  45.796667
6                                  45.796667
7                                  45.796667
8                                  46.257667
9                                  46.565000
10                                 46.565000
11                                 46.565000
12                                 46.565000
13                                 46.565000
14                                 46.565000
15                                 46.565000
16                                 46.565000
17                                 46.565000
18                                 46.565000
19                                 46.565000

In [ ]:
df_bosphorus["lr-cosine-infer-bosphorus640-400e - psnr"].mean()

46.159200000000006

### Jockey640 - 400e

In [2]:
df_jockey = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/jockey640-400e.csv")
df_jockey.drop(columns=["Step", "lr-cosine-infer-jockey640-400e - psnr__MIN", "lr-cosine-infer-jockey640-400e - psnr__MAX"])
df_jockey["lr-cosine-infer-jockey640-400e - psnr"].mean()

45.63713333333332

### Ready640 - 400e

In [2]:
df_ready = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/ready640-400e.csv")
df_ready.drop(columns=["Step", "lr-cosine-infer-ready640-400e - psnr__MIN", "lr-cosine-infer-ready640-400e - psnr__MAX"])
df_ready["lr-cosine-infer-ready640-400e - psnr"].mean()

43.700266666666664

### Yatch640 - 400e

In [2]:
df_yach = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/yach640-400e.csv")
df_yach.drop(columns=["Step", "lr-cosine-infer-yach640-400e - psnr__MIN", "lr-cosine-infer-yach640-400e - psnr__MAX"])
df_yach["lr-cosine-infer-yach640-400e - psnr"].mean()

42.04446666666668