In [1]:
import pandas as pd

## LR-Constant

### Beauty 640x640 - 400e

In [8]:
df_beauty = pd.read_csv("data/beauty.csv")
df_beauty.drop(columns=["Step", "celestial-elevator-27 - psnr__MIN", "celestial-elevator-27 - psnr__MAX"])

    celestial-elevator-27 - psnr
0                      38.624667
1                      39.395000
2                      39.395000
3                      39.395000
4                      39.395000
5                      39.395000
6                      39.395000
7                      39.395000
8                      42.717000
9                      44.931667
10                     44.931667
11                     44.931667
12                     44.931667
13                     44.931667
14                     44.931667
15                     44.931667
16                     44.931667
17                     44.931667
18                     44.931667
19                     44.931667

In [10]:
df_beauty["celestial-elevator-27 - psnr"].mean()

42.56774999999998

### Ready 640x640 - 400e

In [11]:
df_ready = pd.read_csv("data/ready.csv")
df_ready.drop(columns=["Step", "infer-ready640 - psnr__MIN", "infer-ready640 - psnr__MAX"])

    infer-ready640 - psnr
0               32.740333
1               34.175000
2               34.175000
3               34.175000
4               34.175000
5               34.175000
6               34.175000
7               34.175000
8               37.093000
9               39.038333
10              39.038333
11              39.038333
12              39.038333
13              39.038333
14              39.038333
15              39.038333
16              39.038333
17              39.038333
18              39.038333
19              39.038333

In [12]:
df_ready["infer-ready640 - psnr"].mean()

36.92399999999999

### Bee 640x640 - 400e

In [14]:
df_bee = pd.read_csv("data/bee.csv")
df_bee.drop(columns=["Step", "infer-bee640 - psnr__MIN", "infer-bee640 - psnr__MAX"])

    infer-bee640 - psnr
0             39.237667
1             40.540000
2             40.540000
3             40.540000
4             40.540000
5             40.540000
6             40.540000
7             40.540000
8             42.400000
9             43.640000
10            43.640000
11            43.640000
12            43.640000
13            43.640000
14            43.640000
15            43.640000
16            43.640000
17            43.640000
18            43.640000
19            43.640000

In [15]:
df_bee["infer-bee640 - psnr"].mean()

42.272883333333326

### Bosphorus 640x640 - 400e

In [4]:
df_bee = pd.read_csv("data/results/bosphorus.csv")
df_bee.drop(columns=["Step", "infer-bosphorus640 - psnr__MIN", "infer-bosphorus640 - psnr__MAX"])

    infer-bosphorus640 - psnr
0                   37.105000
1                   38.158333
2                   38.158333
3                   38.158333
4                   38.158333
5                   38.158333
6                   38.158333
7                   38.158333
8                   40.827333
9                   42.606667
10                  42.606667
11                  42.606667
12                  42.606667
13                  42.606667
14                  42.606667
15                  42.606667
16                  42.606667
17                  42.606667
18                  42.606667
19                  42.606667

In [5]:
df_bee["infer-bosphorus640 - psnr"].mean()

40.6857

## LR-Cosine

### Shake640-400e

In [4]:
df_shake = pd.read_csv("/home/tuanlda78202/3ai24/data/results/lr-cosine/shake640-400e.csv")
df_shake.drop(columns=["Step", "lr-cosine-infer-shake640-400e - psnr__MIN", "lr-cosine-infer-shake640-400e - psnr__MAX"])

   lr-cosine-infer-shake640-400e - psnr
0                             45.364333
1                             48.468333
2                             48.468333
3                             48.468333
4                             48.468333
5                             48.468333
6                             48.468333
7                             48.468333
8                             48.468333
9                             48.468333

In [6]:
df_shake["lr-cosine-infer-shake640-400e - psnr"].mean()

48.15793333333335